<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
 		<meta charset="UTF-8">
	  	<title>Error</title>
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/errors/styles.css}" >
	</head>
	<body>
		<h5>에러 페이지 입니다.</h5>
	    <h1>ERROR</h1>
	   	<p> We're unable to find out what's happening! We suggest you to
		<br/>
		<a href="/">Go Back</a>or visit here later.</p>
		<!-- partial -->
	</body>
</html>